body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}

.legend {
  position: absolute;
  width: 130px;
  top:14px;
  left:563px;
  background-color: #fff;
  z-index: 2000;
}

#MON {
  width: 36px;
  height: 15px;
  background-color: #f7c5c3;
  position: absolute;
  top:20px;
  z-index:2000;
  border: 2px;
  border-color: #3353f6;
  border-style: solid;
}

#TUE {
  width: 36px;
  height: 15px;
  background-color: #f7f7c3;
  position: absolute;
  top:40px;
  z-index:2000;
  border: 2px solid #3353f6;
}
#WED {
  width: 36px;
  height: 15px;
  background-color: #c5c5f5;
  position: absolute;
  top:60px;
  z-index:2000;
  border: 2px solid #3353f6;
}
#THU {
  width: 36px;
  height: 15px;
  background-color: #c5dec3;
  position: absolute;
  top:80px;
  z-index:2000;
  border: 2px solid #3353f6;
}
#FRI {
  width: 36px;
  height: 15px;
  background-color: #f3e7e7;
  position: absolute;
  top:100px;
  z-index:2000;
  border: 2px solid #3353f6;
}

#legend {
  margin: 0;
}

.legend-text {
  margin:0;
  position: absolute;

  z-index: 2301px;
}

.legend-tbox {
  position: absolute;
  top:20px;
  left: 40px;
  width: 90px;
  height: 95px;
  z-index: 2300;
  background-color: #fff;
}
